@use '/src/_variables';
.input {
  position: relative;
  i {
    position: absolute;
    bottom: 7px;
    left: 0;
  }
  .title {
    font-weight: variables.$fontWeightLighter;
    font-size: variables.$fontSizeVerySmall;
    line-height: 1em;
    height: variables.$fontSizeVerySmall;
    color: variables.$textColorLight;
    display: block;
  }
  i+input {
    padding-left: variables.$padding_2;
  }
  input {
    background: transparent;
    display: block;
    border: none;
    border-bottom: 1px solid variables.$colorMain;
    padding: 0 variables.$padding_0_5;
    font-weight: variables.$fontWeightLighter;
    font-size: variables.$fontSize;
    font-family: variables.$fontFamily;
    line-height: 2em;
    height: 2em;
    color: variables.$textColor;
    transition: 1s;

    &:active,
    &:hover,
    &:focus {
      outline: 0;
      outline-offset: 0;
      border-bottom: 1px solid variables.$colorSecond;
    }
    &::-webkit-input-placeholder {
      font-size: 0;
    }
    &:-moz-placeholder {
      font-size: 0;
    }
    &:-ms-input-placeholder {
      font-size: 0;
    }
    &::placeholder {
      font-size: 0;
    }
  }
  &.rounded {
    i {
      left: 14px;
    }
    input {
      border: 1px solid variables.$colorSecond;
      border-radius: 28px;
    }
    i+input {
      padding-left: variables.$padding_3_5;
    }
    input {
      padding: 0 variables.$padding_2;
      &::-webkit-input-placeholder {
        font-weight: variables.$fontWeightLighter;
        font-size: variables.$fontSizeVerySmall;
        color: variables.$textColorDarkGray;
        line-height: 1em;
      }
      &:-moz-placeholder {
        font-weight: variables.$fontWeightLighter;
        font-size: variables.$fontSizeVerySmall;
        color: variables.$textColorDarkGray;
        line-height: 1em;
      }
      &:-ms-input-placeholder {
        font-weight: variables.$fontWeightLighter;
        font-size: variables.$fontSizeVerySmall;
        color: variables.$textColorDarkGray;
        line-height: 1em;
      }
      &::placeholder {
        font-weight: variables.$fontWeightLighter;
        font-size: variables.$fontSizeVerySmall;
        color: variables.$textColorDarkGray;
        line-height: 1em;
      }
    }
    .title {
      display: none;
    }
    &.light {
      input {
        border: 1px solid variables.$colorLight;
        background: variables.$colorLight;
      }
      i {
        color: variables.$textColorDarkGray;
      }
    }
  }

  &.block {
    display: block;
    width: 100%;
    input {
      width: 100%;
    }
  }
}