div.chat-page
    div.left-area
        div.head
            div.user
                - avatar = {src: profile.avatar, size: "25px"}
                include ../../components/avatar/avatar.pug
                a.login(href="#") #{profile.login}
            div.add
                a.add(href="#")
                    - icon = {type: "add", size: "25px"}
                    include ../../components/icon/icon.pug
        div.search
            - input = {name: "search", title: "поиск", type: "text", icon: "search", class: "rounded light"}
            include ../../components/input/input.pug
        div.chat-list
            each chatItem in chatList
                include ../../modules/chat/components/chat-item/chat-item.pug
    div.right-area
        if chatProfile
            div.chat
                div.chat__top_panel
                    div.top_panel__chat_info
                        div.chat_info__avatar
                            - avatar = {src: chatProfile.avatar, size: "25px"}
                            include ../../components/avatar/avatar.pug
                        div.chat_info__name #{chatProfile.name}
                    div.top_panel__menu
                        - icon = {type: "more-vert", size: "25px"}
                        include ../../components/icon/icon.pug
                div.chat__messages
                    each messageList in messages
                        div.messages_timeline #{messageList.date}
                        each message in messageList.massages
                            include ../../modules/chat/components/message/message.pug
                div.chat__bottom_panel
                    div.bottom_panel__icons
                        - icon = {type: "attach", size: "25px"}
                        include ../../components/icon/icon.pug
                    div.bottom_panel__input
                        - input = {name: "message", title: "Введите сообщение", type: "text", class: "rounded light"}
                        include ../../components/input/input.pug
                    div.bottom_panel__button
                        - icon = {type: "send", size: "25px"}
                        include ../../components/icon/icon.pug
        else
            div.not_selected Выберите чат чтобы отправить сообщение