// constants SCSS
@use '/src/_variables';
.chat-page {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 0;
  .left-area {
    height: 100vh;
    width: 400px;
    background: variables.$colorWhite;
    display: flex;
    flex-direction: column;
    align-items: initial;
    padding: 0;
    gap: variables.$padding_1;
    .head {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: variables.$padding_1 variables.$padding_1 0;
      .user {
        display: flex;
        align-items: center;
        justify-content: start;
        padding: 0;
        gap: variables.$padding_1;
        .avatar {}
        .login {
          font-size: variables.$fontSizeBig;
          font-weight: variables.$fontWeightBold;
        }
      }
    }
    .search {
      padding: 0 variables.$padding_1;
      input {
        width: 100%;
      }
    }
    .chat-list {
      border-top: 1px solid variables.$colorMain;
      height: 100%;
      height: -moz-available;
      height: -webkit-fill-available;
      height: stretch;
      overflow-y: scroll;
    }
  }
  .right-area {
    height: 100vh;
    background: transparent;
    margin: 0;
    padding: 0;
    width: 100%;
    width: -moz-available;
    width: -webkit-fill-available;
    width: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .not_selected {
      font-size: variables.$fontSizeVeryBig;
      color: variables.$colorWhite;
      font-weight: variables.$fontWeightLighter;
    }
    .chat {
      height: 100vh;
      width: 100%;
      width: -moz-available;
      width: -webkit-fill-available;
      width: stretch;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding: 0;
      .chat__top_panel {
        background: variables.$colorWhite;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: variables.$padding_1 0;
        gap: variables.$padding_1;
        .top_panel__chat_info {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: start;
          padding: 0 variables.$padding_2;
          gap: variables.$padding_1;
          .chat_info__name {
            color: variables.$colorMain;
            font-size: variables.$fontSizeBig;
            font-weight: variables.$fontWeightBold;
          }
        }
        .top_panel__menu {
          padding: 0 variables.$padding_1;
        }
      }
      .chat__bottom_panel {
        background: variables.$colorWhite;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: variables.$padding_1 0;
        gap: 0;
        .bottom_panel__icons,
        .bottom_panel__button {
          padding: 0 variables.$padding_1;
        }
        .bottom_panel__input {
          width: 100%;
          width: -moz-available;
          width: -webkit-fill-available;
          width: stretch;
          input {
            width: 100%;
            width: -moz-available;
            width: -webkit-fill-available;
            width: stretch;
          }
        }
      }
      .chat__messages {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: variables.$padding_2 variables.$padding_2;
        gap: variables.$padding_2;
        width: 100%;
        width: -moz-available;
        width: -webkit-fill-available;
        width: stretch;
        height: 100%;
        height: -moz-available;
        height: -webkit-fill-available;
        height: stretch;
        overflow-y: scroll;
        .messages_timeline {
          text-align: center;
          font-size: variables.$fontSizeSmall;
          color: variables.$colorWhite;
          font-weight: variables.$fontWeightLighter;
          line-height: 3em;
        }
      }
    }
  }
}