extends ../../layouts/with-central-area/with-central-area.pug

block append styles
    link(media="all" rel="stylesheet" href="authorization.scss")

block append scripts-in-the-head
    script(src='authorization.js')

block center-area
    include ../../modules/form/form.pug