div.form
    form(style=form.formStyle action=form.formAction method=form.formMethod)
        if form.showTitle
            div.form__title #{form.title}
        div.form__content
            each input in form.inputs
                include ../../components/input/input.pug
        if form.showButtons
            div.form__buttons
                each button in form.buttons
                    include ../../components/button/button.pug