extends ../../layouts/main/main.pug

block styles
    link(media="all" rel="stylesheet" href="chats.scss")

block scripts-in-the-head
    script(src='chats.js')

block content
    h1= title
    div= text