extends ../../layouts/main/main.pug

block append styles
    link(media="all" rel="stylesheet" href="chats.scss")

block append scripts-in-the-head
    script(src='chats.js')

block content
    include ../../modules/chat/chat.pug