mixin infoList(title,value)
    div.item
        div.title #{title}
        div.value #{value}

div.profile
    case action
        when "show"
            include ../../modules/profile/components/profile-head/profile-head.pug
            div.profile__information
                +infoList("ФИО", `${profile.firstName} ${profile.secondName}`)
                +infoList("Почта", profile.email)
                +infoList("Телефон", profile.phone)
            div.profile__buttons
                a(href="#")
                    - icon = {type: "logout", size: "40px"}
                    include ../../components/icon/icon.pug
        when "changePassword"
            include ../../modules/profile/components/profile-head/profile-head.pug
            include ../../modules/form/form.pug
        when "changeData"
            include ../../modules/profile/components/profile-head/profile-head.pug
            include ../../modules/form/form.pug