// constants SCSS
@use '/src/_variables';
// components SCSS
@use '/src/components/button/button';
@use '/src/components/input/input';
@use '/src/components/icon/icon';
@use '/src/components/avatar/avatar';
// modules SCSS
@use '/src/modules/form/form';
@use '/src/modules/profile/profile';
@use '/src/modules/profile/components/profile-head/profile-head';
@use '/src/modules/chat/chat';
@use '/src/modules/chat/components/chat-item/chat-item';
@use '/src/modules/chat/components/message/message';
// main SCSS

html {
  padding: 0;
  margin: 0;
}

body {
  background: variables.$colorGradient;
  color: variables.$textColor;
  font-family: variables.$fontFamily;
  font-size: variables.$fontSize;
  padding: 0;
  margin: 0;
}

a {
  color: variables.$colorMain;
  text-decoration: none;
}
a:hover {
  color: variables.$colorSecond;
}