// constants SCSS
@use '/src/_variables';

.profile__head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  gap: variables.$padding_1;
  width: 100%;
  .left_area, .right_area {
    min-width: 20px;
  }
  .avatar_area {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    gap: variables.$padding_1;

    .login {
      text-align: center;
      font-size: variables.$fontSizeBig;
      color: variables.$colorMain;
      font-weight: variables.$fontWeightBold;
    }
  }

}