extends ../../layouts/main/main.pug

block styles
    link(media="all" rel="stylesheet" href="error-500.scss")

block scripts-in-the-head
    script(src='error-500.js')

block content
    h1= title
    div= text