@use "/src/_variables";

.messages-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: variables.$padding-2;
  width: 100%;
  width: -moz-available;
  width: -webkit-fill-available;
  width: stretch;

  .timeline {
    text-align: center;
    font-size: variables.$font-size-small;
    color: variables.$color-white;
    font-weight: variables.$font-weight-lighter;
    line-height: 3em;
  }
}
