$color-main: #7c30c9;
$color-second: #7024eb;
$color-white: #fff;
$color-light: #ececec;
$color-gradient: linear-gradient(247.32deg, $color-second 0%, $color-main 100%);
$color-gradient-inversion: linear-gradient(247.32deg, $color-main 0%, $color-second 100%);
$text-color: #363636;
$text-color-light: #6a6a6a;
$text-color-dark-gray: #a9a9a9ff;
$border-radius-small: 10px;
$border-radius: 25px;
$shadow: 0 3px 6px rgb(0 0 0 / 25%);
$font-family: "Roboto Condensed", "sans-serif";
$font-size-very-small: 10px;
$font-size-small: 12px;
$font-size: 14px;
$font-size-big: 16px;
$font-size-very-big: 24px;
$font-size-extra-big: 36px;
$font-size-gigantic: 80px;
$font-weight-lighter: 300;
$font-weight: 400;
$font-weight-bold: 700;
$padding: 10px;
$padding-0-5: calc($padding / 2);
$padding-1: $padding;
$padding-1-5: calc($padding + $padding-0-5);
$padding-2: calc($padding * 2);
$padding-2-5: calc($padding * 2 + $padding-0-5);
$padding-3: calc($padding * 3);
$padding-3-5: calc($padding * 3 + $padding-0-5);
$padding-4: calc($padding * 4);
$padding-4-5: calc($padding * 4 + $padding-0-5);
$padding-5: calc($padding * 5);
