@use "/src/_variables";

.wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .center-area {
    background: variables.$color-white;
    box-shadow: variables.$shadow;
    border-radius: variables.$border-radius;
    padding: variables.$padding-2 variables.$padding-4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: variables.$padding-1;
  }
}
